@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Framething</h1>
    <p>Framething is a web app to help you keep track of your <a href="https://www.warframe.com/">Warframe</a> mastery progress.</p>
</div>
