<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Framething</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    
    <link rel="stylesheet" asp-href-include="~/dist/framething.*css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Framething - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript" asp-src-include="~/dist/framething.*js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
