<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Framething</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="stylesheet" asp-href-include="~/dist/*.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between fixed-top">
        <a class="navbar-brand" href="/">Framething</a>
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_code' code=user.userprofile.code %}">Home</a>
            </li>
        </ul>
        <span class="navbar-text">{{ user.username }}</span>
        {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            </li>
        </ul>
        {% endif %}
    </nav>

    <main role="main" class="container-fluid">
        @RenderBody()
    </main>

    <script type="text/javascript" asp-src-include="~/dist/*.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
